    .container {
      max-width: 400px;
      margin: 5% auto;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
    }
    
    h2 {
      text-align: center;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      font-weight: bold;
      display: block;
    }
    
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .form-group input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #F9BD6B;
      color: black;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    
    .form-group input[type="submit"]:hover {
      background-color: white;
    }
    
    .registration-link {
    	text-align: center;
	  color: #F99A6B; /* Colore del testo */
	  text-decoration: none; /* Rimuove la sottolineatura del link */
	  font-weight: bold; /* Testo in grassetto */
	  font-size: 16px; /* Dimensione del testo */
	}
	
	a.registration-link:before{
		background-color: none;
	}
	
	a.registration-link:hover {
	  color: #ff0000; /* Colore del testo al passaggio del mouse */
	  text-decoration: none; /* Sottolinea il testo al passaggio del mouse */
	}
	
	h2{
		color: #F99A6B;
	}
	
	
	/*			MESSAGGIO ERRORI			*/
	.error-message {
		max-width: 400px;
	  background-color: #fce4e4;
	  border: 1px solid #fcc2c3;
	  padding: 20px 50px;
	  margin: 2% auto;
	  text-align: center;
	}
	
	.error-text {
	  color: #cc0033;
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 13px;
	  font-weight: bold;
	  line-height: 20px;
	  text-shadow: 1px 1px rgba(250,250,250,.3);
	}

    