@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'); 
 
    .inForm {
      max-width: 400px;
      margin: 10% auto;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    }
    
    #errorText {
  color: red;
  font-size: 14px;
}
    
    h2 {
      text-align: center;
      padding: 20px 0;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      font-weight: bold;
      display: block;
    }
    
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .form-group input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #F9BD6B;
      color: black;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    
    .form-group input[type="submit"]:hover {
      background-color: white;
    }
    
        .form-group  input[type="submit"]#logout {
      width: 100%;
      padding: 10px;
      background-color: #F76B4F;
      color: black;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .form-group  input[type="submit"]#logout:hover{
   		 background-color: white;
    }
    
    .registration-link {
    	text-align: center;
	  color: #F99A6B; 
	  text-decoration: none; 
	  font-weight: bold; 
	  font-size: 16px; 
	}
	
	a.registration-link:before{
		background-color: none;
	}
	
	a.registration-link:hover {
	  color: #ff0000; /* Colore del testo al passaggio del mouse */
	  text-decoration: none; /* Sottolinea il testo al passaggio del mouse */
	}
	
	h2{
		color: #F99A6B;
	}
	
	
	.error-message {
		max-width: 400px;
	  background-color: #fce4e4;
	  border: 1px solid #fcc2c3;
	  padding: 20px 50px;
	  margin: 2% auto;
	  text-align: center;
	}
	
	
	.error-text {
	  color: #cc0033;
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 13px;
	  font-weight: bold;
	  line-height: 20px;
	  text-shadow: 1px 1px rgba(250,250,250,.3);
	}
	
	.loginSection{
		width: 100%;
		padding-top:7%;
		height: auto;
		background-image: url(../images/sfondo.png);    
		background-position: center;
	    background-size: cover;
	    grid-template-columns: repeat(1, 1fr);
	    align-items: center;
	    padding-bottom: 10%;
	}
	
	.signupSection
	{
			width: 100%;
			padding-top: 7%;
			height: auto;
			background-image: url(../images/sfondo.png);
			background-position: center;
		    background-size: cover;
		    /*display: grid;*/
		    grid-template-columns: repeat(1, 1fr);
		    align-items: center;
		    padding-bottom: 10%;
	}
	
	.accountSection{
		width: 100%;
		padding-top:7%;
		background-image: url(../images/sfondo.png);
	    height: auto;
		background-position: center;
	    background-size: cover;
	    grid-template-columns: repeat(1, 1fr);
	    align-items: center;
	    padding-bottom: 10%;	
	}
	
@media(max-width:1020px){
    .inForm{
      	width: 380px;
        transition: .3s; 
        margin-top: 15%;
    }
    .error-message{
	    width: 380px;
	    transition: .3s;
	     margin-top: 10%;
    }
}

@media(max-width:920px){
    .inForm{
      	width: 360px;
        transition: .3s; 
        margin-top: 20%;
    }
    .error-message{
	    width: 360px;
	    transition: .3s;
	     margin-top: 15%;
    }
    
}
    
@media(max-width:850px){
    .inForm{
      	width: 340px;
        transition: .3s; 
        margin-top: 25%;
    }
    .error-message{
	    width: 340px;
	    transition: .3s;
	     margin-top: 20%;
    }
    
    
}

@media(max-width:750px){
    .inForm{
      	width: 320px;
        transition: .3s; 
        margin-top: 30%;
    }
    .error-message{
	    transition: .3s;
	     margin-top: 25%;
    }
    
}

@media(max-width:620px){
    .inForm{
      	width: 300px;
        transition: .3s; 
        margin-top: 35%;
    }
    
}

@media(max-width:450px){
    .inForm{
      	width: 280px;
        transition: .3s; 
        margin-top: 35%;
    }
    
    .error-message{
      	width: 260px;
        transition: .3s; 
    }
    
}

   