@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Belanosima:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family:  sans-serif;
}

body{
	position: relative;
	height: auto;
}

header{
	position: fixed;
	top: 0;
	background-color: #F99A6B;
 	width: 100%; 
 	z-index: 100;
}

li{
	list-style: none;
}

a{
	color: white;
	text-decoration: none;
}

.nav-link:hover{
	text-decoration: underline;
	
}

.cont{
	width: 1600px;
	margin: 14px auto;
	z-index: 99999;	
}

.subcont{
	width: 98%;
	margin: auto;
}

.navbar{
	width: 100%;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	font-size: 1.0rem;
}

.nav-branding{
	font-size: 2rem;
	font-family: 'Angkor', sans-serif;
}

.hamburger{
	display: none;
	cursor: pointer;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px 0;
	transition: all 0.3s ease;
	background-color: white;
}

 button{

	font-size: 0.8rem;
	margin: 1% 0.1%;
	outline: none;
	padding: 15px 13px;
	border-radius: 10px;
	background-color: #F9BD6B;
	justify-content: space-between;
}


button:hover{
	background-color: rgb(255, 255, 255);
}

.btnCarrello{
	margin: 1% 1.5%;
}


@media(max-width: 10000px)
{
	.cont{
		width: 96%;
	}
}

@media(max-width: 1600px)
{
	.cont{
		width: 100%;
	}
}

@media(max-width: 1024px)
{
	.hamburger{
		display: block;
	}
	
	.hamburger.active .bar:nth-child(2)
	{
		opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1)
	{
		transform: translateY(8px) rotate(45deg);
	}
	
	.hamburger.active .bar:nth-child(3)
	{
		transform: translateY(-8px) rotate(-45deg);
	}
	
	.nav-menu{
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #F9BD6B;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		
	}
	
	.nav-item{
		margin: 16px 0;
	}
	
	.nav-menu.active{
		left: 0;
		z-index: 9999;
	}
}






