@charset "ISO-8859-1";

/*			CONTENUTO			*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  position: sticky;
}


/*			HEADER			*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.header-body{
  padding: 0%;
  margin: 0%;
}

nav {
	  background-color: #F99A6B;
	  overflow: hidden;
	  display: flex;
	  justify-content: space-between;
	  position: sticky;
	  top: 0;
}


nav ul {
	display: flex;
	list-style-type:none;
	padding: 0;
}

.link-sx{
	padding-left: 1.5em;
	font-family: 'Bagel Fat One', cursive;
	margin-top: 1.3em;
	 font-size: 1.2em;
	 text-decoration: none;
}

.link-dx{
	  padding: 0.8em 0 0 2em;
	  font-family: 'Montserrat', sans-serif;
	  margin-left: 0;
	  
}
.aLink:hover{
	text-decoration: underline;
}

nav a{
  float: right;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 1em 1.3em;
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

/*			LINKS			*/


/*			BOTTONI			*/
button{
	
	font-size: 0.8rem;
	margin: 2em 0 2em 6em;
	outline: none;
	padding: 10px 12px;
	border-radius: 10px;
	background-color: #F9BD6B;
	justify-content: space-between;
}


button:hover{
	background-color: rgb(255, 255, 255);
}

.sec-btn{
	margin: 2em 2em 2em 0;
}

/*			SEARCH BOX			*/
.topnav input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 2.5em;
  margin-right: 15px;
  font-size: 17px;
  padding: 0.5em 3em 0 0;
}

