@charset "ISO-8859-1";

.prodottoSection{
	width: 100%;
	padding-top:20px;
    height: auto;
	background-image: url(../images/sfondo.png);
	background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.container {
  width: 600px;
  height: auto;
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  display: flex;
  border-radius: 2rem;
  
}

.image {
  width: 40%;
  padding-right: 20px;
}

.image img {
  width: 424px;
  height: 424px;
}

.info {
  width: 60%;
  font-size: 18px;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}

h2{
		color: #F99A6B;
}
